/* Apply the Onboarding page background color to the entire page */
html, body {
  margin: 0;
  padding: 0;
  background-color: #101010 !important;
  height: 100%;
}

/* antd override */
Button {
  border-radius: 30px !important;
  outline: none !important;
  background-color: #ad84ff !important;
  width: 300px !important;
  height: 50px !important;
  font: 24px sans-serif !important;
  font-family: 'TT Commons Pro Extended', sans-serif !important;
  color: #101010 !important;
}
Button:hover {
  border-radius: 10px !important;
  border-color: #9c95fd;
}
/* Common styling */
.Onboarding-page-body {
  display: flex;
  justify-content: center;
  align-items: left !important;
  margin-left: 200px;
  flex-direction: column;
  height: 600px;
  background-color: #101010;
  width: 100vw;
}
.Onboarding-paragraph {
  margin-top: 0;
  font-size: 24px;
  color: #ffff;
  max-width: 500px;
}
.page-title {
  font-size: 48px;
  font-weight: bold;
  color: #ffff;
  margin-bottom: 2;
}
.logo-image {
  width: 100px !important;
  height: 100px !important;
  animation: logo-spin 10s linear infinite;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


